*.class
*.log

.gradle
.nb-gradle
.cache/
.history/
.lib/
.settings
.springBeans
.classpath
.project
bin/
dist/*
logs/
target/
build/
lib_managed/
src_managed/
project/target/
project/project/target/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
.idea